{% extends 'base_main.html' %}
{% load static %}

{% block body_header %}

    <div class="container-fluid">
        <div class="row function_list">
            <div class="col-xs-3 col-md-3">
                <a href="#" class="thumbnail">
                    <img class="img-circle" src="{% static 'icon/icon.jpg' %}">
                    <h3 align="center">库存查询</h3>
                </a>
            </div>
            <div class="col-xs-3 col-md-3">
                <a href="#" class="thumbnail">
                    <img class="img-circle" src="{% static 'icon/icon.jpg' %}">
                    <h3 align="center">成品入库</h3>
                </a>
            </div>
            <div class="col-xs-3 col-md-3">
                <a href="#" class="thumbnail">
                    <img class="img-circle" src="{% static 'icon/icon.jpg' %}">
                    <h3 align="center">成品出库</h3>
                </a>
            </div>
            <div class="col-xs-3 col-md-3">
                <a href="#" class="thumbnail">
                    <img class="img-circle" src="{% static 'icon/icon.jpg' %}">
                    <h3 align="center">半成品入库</h3>
                </a>
            </div>
        </div>

{% endblock %}