{% extends 'base_main.html' %}
{% load static %}

{% block body_header %}

    <div class="container-fluid">
        <div class="row function_list">
            <div class="col-xs-3 col-md-3">
                <a href="#" class="thumbnail">
                    <img class="img-circle" src="{% static 'icon/icon.jpg' %}">
                    <h3 align="center">表格转换</h3>
                </a>
            </div>
            <div class="col-xs-3 col-md-3">
                <a href="#" class="thumbnail">
                    <img class="img-circle" src="{% static 'icon/icon.jpg' %}">
                    <h3 align="center">修改余额</h3>
                </a>
            </div>
        </div>

        <div class="row function_list">
            <div class="col-xs-3 col-md-3">
                <a href="#" class="thumbnail">
                    <img class="img-circle" src="{% static 'icon/icon.jpg' %}">
                    <h3 align="center">关闭系统</h3>
                </a>
            </div>
        </div>
    </div>
{% endblock %}