.info_input {
    height: 2rem;
    margin: 0.5rem 0;
}

.info_area {
    margin: 0.5rem 0;
}

#submit_customer_info_btn {
    margin: 2rem auto;
    text-align: center;
}


#submit_customer_info_form .form_content {
    text-align: center;
}